.chart{
    margin-top: 20px;
    position: relative;
    padding:20px 30px;
    width:50%;
    height: 350px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(0,0,0,.5);
}

@media only screen and (max-width:400px) {
    .chart{
        width:90%;
        height: 150px;
    }
}

@media only screen and (max-width:900px) {
    .chart{
        width:90%;
        height: 350px;
    }
}