.change {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changeform {
    padding: 25px 40px;
    background: linear-gradient(150deg, rgb(255, 82, 168) 12.9%, rgb(177, 118, 240) 134.3%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1),
        -1px -1px 5px rgba(0, 0, 0, .1);
    border-radius: 30px;
    color: white;
}

.changebtn {
    border: 1px solid rgb(68, 45, 45) !important;
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.changebtn:hover {
    border: 1px solid white !important;
    background-color: transparent;
}

.changebtn:focus {
    border: 1px solid white !important;
    background-color: transparent !important;
}
.chaerrors-box{
    color:grey;
}

.dialog2{
    width: fit-content;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
    -10px -10px 10px rgba(0, 0, 0, .1);
    background-color: rgb(145, 223, 28);
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;
    z-index: 100;
    margin-bottom: 10px;
}

.dialog2 input{

    border: 1px solid rgb(22, 19, 19);
    color:#0f0c0c;
    background-color: transparent;
    font-weight: bold;
    width: 50%;
}
.dialog2 input:hover{
    border: 1px solid white;
    color:white;
    background-color: transparent;
}
.dialog2 input:focus{
    border: 1px solid white;
    color:white;
    background-color: transparent;
}

@media screen and (min-width:300px) and (max-width:600px) {
    .change {
        background: linear-gradient(150deg, rgb(255, 82, 168) 12.9%, rgb(177, 118, 240) 134.3%);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .changeform {

        padding: 25px 40px;
        box-shadow: none;
        border-radius: 0px;
        color: white;
        background-image: none !important;
    }

    .changebtn {
        width: 100%;
        border: 1px solid rgb(12, 11, 11) !important;
    }

    .dialog2{
        width: 100%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
        -10px -10px 10px rgba(0, 0, 0, .1);
        background-color: rgb(145, 223, 28);
        color:black;
        font-size: 12px; 
    }
    .dialog2 input{
        font-size: 12px;
    }
}