.forget {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetform {
    padding: 25px 40px;
    background: linear-gradient(150deg, #a3c6fc 12.9%, #0f4796 134.3%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1),
        -1px -1px 5px rgba(0, 0, 0, .1);
    border-radius: 30px;
    color: white;
}

.forgetbtn {
    border: 1px solid rgb(68, 45, 45) !important;
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.forgetbtn:hover {
    border: 1px solid white !important;
    background-color: transparent;
}

.forgetbtn:focus {
    border: 1px solid white !important;
    background-color: transparent !important;
}

@media screen and (min-width:300px) and (max-width:600px) {
    .forget {
        background: linear-gradient(150deg, #a3c6fc 12.9%, #0f4796 134.3%);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    .forgetform {

        padding: 25px 40px;
        box-shadow: none;
        border-radius: 0px;
        color: white;
        background-image: none !important;
    }

    .forgetbtn {
        width: 100%;
        border: 1px solid rgb(12, 11, 11) !important;
    }
}